{
	log default {
		exclude http.log.error http.log.access http.log.trace http.handlers.reverse_proxy
	}
}

impulsgoroda.duckdns.org {
	handle /api/* {
		reverse_proxy edge:8080
	}

	handle /config.json {
		root * /srv/config
		header Cache-Control "no-store"
		file_server
	}

	handle {
		root * /srv/web
		try_files {path} /index.html
		file_server
	}
}
